{% extends '../layout/base.html' %}
{% load static %}

{% block styles %}
    <link href="{% static 'style.css' %}" rel="stylesheet">
{% endblock styles %}

{% block title %}
    Contacto
{% endblock title %}

</head>
{% block headers %}
    <br> <h1>Editar Contacto</h1>
{% endblock headers %}

{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="alert alert-success"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <a class="btn btn-danger" href="{% url 'contact:index' %}">Volver</a>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="container-sm">
                    <form action="{% url 'contact:edit' id=id %}" method="POST">
                        {% csrf_token %}
                        {{ contactForm }}
                        <br>
                        <div class="row-cols-1">
                            <input class="btn btn-success" type="submit" value="Enviar">
                        <div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
{% endblock content %}
    