{% extends '../layout/base.html' %}
{% load static %}

{% block styles %} 

<link href="{% static 'style.css' %}" rel="stylesheet"> 

{% endblock styles %}
{% block title %} Contacto {% endblock title %}


{% block headers %}
    <br> <h1>Registrar Contacto</h1> <br />
{% endblock headers %}

    
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="container-sm">
                    <form action="{% url 'contact:register' %}" method="POST">
                        {% csrf_token %}
                        {{ contactForm }}
                        <br>
                        <div class="row-cols-1">
                            <input class="btn btn-success" type="submit" value="Enviar">
                        <div>
                    </form>
                    <a class="btn btn-danger" href="{% url 'contact:index' %}">Volver</a>
                    
                </div>
            </div>
            
        </div>
    </div>
{% endblock content %}