{% extends './layouts/base.html' %}

{% load static %}

{% block title %}Index{% endblock title %}

{% block content %}
    <h1>Carlos Rivera - Desarrollador Backend</h1>
    <div class="about">
        <img src="{% static 'imgs/code.jpg' %}" width="450" alt="phpcode">
        <div class="about-content">
            <h3>Proyecto PHP</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam cupiditate ut nam magnam. 
                Eius nulla mollitia voluptatem ratione ad omnis expedita architecto tempore. 
                Quaerat, porro. Odit assumenda doloribus tempora animi.
            </p>
        </div>
    </div>
{% endblock content %}