<div class="container-sm">
        <ul class="letters">
            <li><a href="{% url 'contact:index' %}" > Todos </a></li>
            <li><a href="{% url 'contact:index' letter='A' %}" > A </a></li>
            <li><a href="{% url 'contact:index' letter='B' %}" > B </a></li>
            <li><a href="{% url 'contact:index' letter='C' %}" > C </a></li>
            <li><a href="{% url 'contact:index' letter='D' %}" > D </a></li>
            <li><a href="{% url 'contact:index' letter='E' %}" > E </a></li>
            <li><a href="{% url 'contact:index' letter='F' %}" > F </a></li>
            <li><a href="{% url 'contact:index' letter='G' %}" > G </a></li>
            <li><a href="{% url 'contact:index' letter='H' %}" > H </a></li>
            <li><a href="{% url 'contact:index' letter='I' %}" > I </a></li>
            <li><a href="{% url 'contact:index' letter='J' %}" > J </a></li>
            <li><a href="{% url 'contact:index' letter='K' %}" > K </a></li>
            <li><a href="{% url 'contact:index' letter='L' %}" > L </a></li>
            <li><a href="{% url 'contact:index' letter='M' %}" > M </a></li>
            <li><a href="{% url 'contact:index' letter='Ñ' %}" > Ñ </a></li>
            <li><a href="{% url 'contact:index' letter='O' %}" > O </a></li>
            <li><a href="{% url 'contact:index' letter='P' %}" > P </a></li>
            <li><a href="{% url 'contact:index' letter='Q' %}" > Q </a></li>
            <li><a href="{% url 'contact:index' letter='R' %}" > R </a></li>
            <li><a href="{% url 'contact:index' letter='S' %}" > S </a></li>
            <li><a href="{% url 'contact:index' letter='T' %}" > T </a></li>
            <li><a href="{% url 'contact:index' letter='U' %}" > U </a></li>
            <li><a href="{% url 'contact:index' letter='V' %}" > V </a></li>
            <li><a href="{% url 'contact:index' letter='W' %}" > W </a></li>
            <li><a href="{% url 'contact:index' letter='X' %}" > X </a></li>
            <li><a href="{% url 'contact:index' letter='Y' %}" > Y </a></li>
            <li><a href="{% url 'contact:index' letter='Z' %}" > Z </a></li>
        </ul>  

</div>