

.content{
    background-color: bisque;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.card-body{
    display: flex;
    flex-wrap: wrap;
}