{% load static %}

<footer>
    <img class="logo" src="{% static 'imgs/logo.png' %}">
    <p>Todos los derechos reservados!</p>

    <ul>
        <li><a href="{% url 'index'%}">Inicio</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
    </ul>
    
    <ul>
        <li><a href="https://www.flaticon.es/iconos-gratis/desarrollo-web" title="desarrollo web iconos">creados por rukanicon - Flaticon</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/desarrollo-web" title="desarrollo web iconos">creados por rukanicon - Flaticon</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/desarrollo-web" title="desarrollo web iconos">creados por rukanicon - Flaticon</a></li> 
    </ul>

    <ul>
        <li><a href="https://www.flaticon.es/iconos-gratis/desarrollo-web" title="desarrollo web iconos">creados por rukanicon - Flaticon</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/desarrollo-web" title="desarrollo web iconos">creados por rukanicon - Flaticon</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/desarrollo-web" title="desarrollo web iconos">creados por rukanicon - Flaticon</a></li>
    </ul>
</footer>