plantillas/__pycache__/settings.cpython-311.pyc
plantillas/wsgi.py
plantillas/settings.py
plantillas/__pycache__/urls.cpython-311.pyc
plantillas/__pycache__/views.cpython-311.pyc
plantillas/__pycache__/*
